.hero {
  min-height: calc(100vh - 72px);
  background-image: url('/HeroImage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}
.heroHeader {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;

  padding-bottom: 16px;
  color: #ffffff;
}
.heroDescription {
  color: #ffffff;
}
.heroDiv {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 64px;
}
.button {
  display: block;
  border-radius: 200px;
  padding: 16px 60px;
  width: 173px;
  height: 56px;

  background: #e44848;
  color: #fff;
}
.button:hover {
  background-color: #d84343;
}
.buttonHero {
  margin-top: 40px;
}
