.page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 64px 80px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.meta {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  color: #6c717b;
}

.price {
  font-size: 28px;
  font-weight: 600;

  margin-top: 16px;
}

/* GALLERY TOP */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}

.galleryItem {
  position: relative;
  width: 100%;
  padding-top: 70%;
  border-radius: 10px;
  overflow: hidden;
}

.galleryImg {
  object-fit: cover;
}

/* BOTTOM GRID */
.bottom {
  display: flex;
  gap: 40px;
}
.tabs {
  display: flex;
  gap: 40px;
  margin-top: 60px;
  margin-bottom: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #dadde1;
}

.tabButton {
  position: relative;
  background: none;
  border: none;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #101828;
}

.tabButton::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 100%;
  height: 5px;
  background-color: #e44848;
  transform: scaleX(0);
  transition: transform 0.25s ease;
}

.activeTab::after {
  transform: scaleX(1);
}

/* LEFT COLUMN */
.left {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 44px 52px;

  border-radius: 10px;
  background: #f7f7f7;

  width: 631px;
}
.left-reviews {
  background: none;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: #475467;
}

.divBottomLine {
  padding-bottom: 24px;
  border-bottom: 1px solid #dadde1;
}

/* FEATURES */
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  list-style: none;
  padding: 0;
}

.featureItem {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  border-radius: 100px;
  font-size: 14px;

  background: #f2f4f7;
}

.icon {
  width: 20px;
  height: 20px;
}

/* VEHICLE DETAILS */
.details {
  list-style: none;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px 24px;
  font-size: 14px;
}

.details li {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  border-radius: 10px;
}

.right {
  padding: 44px 57px;
  border-radius: 10px;
  border: 1px solid #dadde1;
  background-color: #ffffff;
  width: 641px;
}

.formTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  color: #6c717b;
}

.input,
.textarea {
  border-radius: 10px;
  padding: 10px 12px;
  font-size: 14px;
  outline: none;
  background: #f7f7f7;
  height: 60px;
}

.input:focus,
.textarea:focus {
  border-color: #e44848;
}

.textarea {
  min-height: 90px;
  resize: vertical;
  height: 118px;
}

.sendButton {
  margin-top: 12px;
  border: none;
  border-radius: 200px;
  padding: 12px 24px;
  background-color: #e44848;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  align-self: center;
  width: 166px;
}

.sendButton:hover {
  background-color: #d12f2f;
}
.review {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.reviewHeader {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.avatar {
  width: 60px;
  height: 60px;
  background: #f2f4f7;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.nameOnAvatar {
  color: #e44848;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}
.nameAndRating {
  display: flex;
  flex-direction: column;
}
.reviewer_name {
  padding-top: 7px;
}
.comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #475467;
}
